# Ambiente Virtual
.venv
venv

# Configurações locais
.env
.env.local

# Django banco de dados
db.sqlite3

# Ignorar arquivos compilados do Python
*.pyc
*.pyo
*.pyd
/__pycache__/


# Migrations
**/migrations/__pycache__/
**/migrations/*.pyc
/migrations/

# Static files
/staticfiles
staticfiles/

# Media Files
/media

# Arquivos Aleatórios
*.py_old
*.py_bkp
*.py_new