asgiref==3.8.1
Django==4.2
django-ckeditor==6.7.2
django-js-asset==3.0.1
pillow==11.1.0
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
asgiref==3.8.1
Django==4.2
django-ckeditor==6.7.2
django-jazzmin==3.0.1
django-js-asset==3.0.1
pillow==11.1.0
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
asgiref==3.8.1
click==8.1.8
colorama==0.4.6
Django==4.2
django-ckeditor==6.7.2
django-jazzmin==3.0.1
django-js-asset==3.0.1
h11==0.14.0
packaging==24.2
pillow==11.1.0
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
uvicorn==0.34.0
