@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap');

:root {
    --bg-color: #323232;
    --text-color: #ffffff;
    --hover-color: #555555;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 12px 20px;
    height: 50px;
    font-family: 'SF Pro Display', sans-serif;
    position: relative;
}

.brand {
    position: absolute;
    left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: var(--hover-color);
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: var(--bg-color);
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .nav-menu.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 50px;
    }
}